body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #3700ff56;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #1900ff;
    margin-bottom: 20px;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #0004ff;
    font-weight: bold;
}

tr:hover {
    background-color: #dfdfdf;
}

/* Estilos para las imágenes */
td img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* Estilos para el footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}